body {
	width: 100%;
}

.product {
	height:446px;
	width:446px;
}

#multipleWallet {
  background: url('img/multiplewallet.jpg');
  background-size: cover;
}

#multipleWallet:hover {
  background: url('img/multiplewallet_hover.jpg');
  background-size: cover;
}

#slenderWallet {
  background: url('img/slenderwallet.jpg');
  background-size: cover;
}

#slenderWallet:hover {
  background: url('img/slenderwallet_hover.jpg');
  background-size: cover;
}

#briefcaseBlack {
  background: url('img/briefcaseblack.jpg');
  background-size: cover;
}

#briefcaseGrey {
  background: url('img/briefcasegrey.jpg');
  background-size: cover;
}

#briefcaseGrey:hover {
  background: url('img/briefcasegrey_hover.jpg');
  background-size: cover;
}
