body {
	width: 100%;
	margin: auto 0;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	background: url('img/wallpaper.jpg');
}

/*GLOBAL STYLING*/
h1 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
/*GLOBAL STYLING*/







.product {
	float: left;
	height: 346px;
	width: 346px;
	margin: 20px;
	border: 1px solid black;
}

#multipleWallet {
  background: url('img/multiplewallet.jpg');
  background-size: cover;
}

#multipleWallet:hover {
  background: url('img/multiplewallet_hover.jpg');
  background-size: cover;
}

#slenderWallet {
  background: url('img/slenderwallet.jpg');
  background-size: cover;
}

#slenderWallet:hover {
  background: url('img/slenderwallet_hover.jpg');
  background-size: cover;
}

#section_break {
	clear: left;
}

#briefcaseBlack {
  background: url('img/briefcaseblack.jpg');
  background-size: cover;
}

#briefcaseGrey {
  background: url('img/briefcasegrey.jpg');
  background-size: cover;
}

#briefcaseGrey:hover {
  background: url('img/briefcasegrey_hover.jpg');
  background-size: cover;
}


/* Portrait tablet and below */
@media all and (max-width: 767px){
	.product {
		float: left;
		height: 246px;
		width: 246px;
		margin: 10px;
		border: 1px solid black;
	}
}






/*NAV MENU STYLING*/
/*  header styling */
#navbar {
    position: fixed;
    width: 100%;
    top: 12%;
    z-index: 30;
    
}

#navbar ul { 
        margin: 0; 
        padding: 5px; 
        list-style-type: none; 
        text-align: center; 
        background-color: white;
        padding-right: 100px; 
        } 
 
#navbar ul li {  
        display: inline; 
        } 
 
#navbar ul li a { 
        text-decoration: none; 
        padding: .2em 1em; 
        color: black; 
        background-color: white; 
        } 
 
#navbar ul li a:hover { 
        color: #b9b9b9;  
        } 
/* --------- Drop Down -------- */
#nav ul {
position:absolute;
left:-999em;
top:2em;
list-style:none;

}
#nav li:hover ul {
left:30%;
top:auto;
text-align: center;
}
        
#coverimage {
	position: fixed;
	height: 13%;
	width:100%;
	z-index: 20;
	
}

#top {
	position: fixed;
	right: 5%;
	z-index: 40;
	height: 12%;
}

#menulogo {
	background-color: white;
	padding: 5px;
}

.sociallogo {
	padding: 15px;
}
/*NAV MENU STYLING*/





/*HOME PAGE STYLING*/
.homevideo {
	margin-left: 9%;
}









