body {
	width: 100%;
	margin: auto 0;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.bodywallpaper {
	background: url('img/wallpaper.jpg');
}

/*GLOBAL STYLING*/
h1 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
/*GLOBAL STYLING*/






/*MEN STYLING*/

#mens_header {
    width: 100%;
	background-color: #ffffff;
	margin-top: 3%;
	padding-top: .2%;
	padding-bottom: .2%;
	padding-left: 2%;
}

#space {
	margin-left:2%;
}

.product {
	float: left;
	height: 346px;
	width: 346px;
	margin: 20px;
	border: 1px solid black;
}

.mens_category {
	width: 100%;
	background-color: #ffffff;
	margin-top: 3%;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 2%;
	
}

.mens_product_name {
	display: inline;
}


#multipleWallet {
  background: url('img/multiplewallet.jpg');
  background-size: cover;
}

#multipleWallet:hover {
  background: url('img/multiplewallet_hover.jpg');
  background-size: cover;
}

#slenderWallet {
  background: url('img/slenderwallet.jpg');
  background-size: cover;
}

#slenderWallet:hover {
  background: url('img/slenderwallet_hover.jpg');
  background-size: cover;
}

#section_break {
	clear: left;
}

#briefcaseBlack {
  background: url('img/briefcaseblack.jpg');
  background-size: cover;
}

#briefcaseGrey {
  background: url('img/briefcasegrey.jpg');
  background-size: cover;
}

#briefcaseGrey:hover {
  background: url('img/briefcasegrey_hover.jpg');
  background-size: cover;
}


/* Portrait tablet and below */
@media all and (max-width: 767px){
	.product {
		float: left;
		height: 246px;
		width: 246px;
		margin: 10px;
		border: 1px solid black;
	}
}
/*MEN STYLING*/





/*NAV MENU STYLING*/
/*  header styling */
#navbar {
    position: fixed;
    width: 100%;
    top: 12%;
    z-index: 30;
    
}

#navbar ul { 
        margin: 0; 
        padding: 5px; 
        list-style-type: none; 
        text-align: center; 
        background-color: white;
        padding-right: 100px; 
        } 
 
#navbar ul li {  
        display: inline; 
        } 
 
#navbar ul li a { 
        text-decoration: none; 
        padding: .2em 1em; 
        color: black; 
        background-color: white; 
        } 
 
#navbar ul li a:hover { 
        color: #b9b9b9;  
        } 
/* --------- Drop Down -------- */
#nav ul {
position:absolute;
left:-999em;
top:2em;
list-style:none;

}
#nav li:hover ul {
left:30%;
top:auto;
text-align: center;
}
        
#coverimage {
	position: fixed;
	height: 13%;
	width:100%;
	z-index: 20;
	
}

#top {
	position: fixed;
	right: 5%;
	z-index: 40;
	height: 12%;
}

#menulogo {
	background-color: white;
	padding: 5px;
}

.sociallogo {
	padding: 15px;
}
/*NAV MENU STYLING*/





/*HOME PAGE STYLING*/
.homevideo {
	margin-left: 9%;
}



.eventbox {
	width: 400px;
	margin-left: 33%;
	padding: 10px;
	background-color: #ac7339;
	margin-top: 25px;
}

.eventbox img {
	width: 400px;
}

.eventbox a {

}

.eventbox img p h3 {
	display: inline-block;
}

#footer {
	width:100%;
	margin-top:10%;
	margin-bottom:10%;
}

#footer_stripe {
    width: 100%;
    top: 99%;
	background-color: #ffffff;
	text-align: center;
	padding-top:.5%;
	padding-bottom:.5%;
}

#listserv_header {
	display: inline;
}








